extends layout

block content
    div.text-center
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
        body 
            a(class='button' href='//localhost:3000/register') Register   
            a(class='button' href='//localhost:3000/login') Login